click
numpy
pony; python_version < '3.13'
pony @ git+https://github.com/black-sliver/pony@feat/py313 ; python_version >= '3.13'
pyyaml
requests
rich
whiptail-dialogs
pyzmq
backports.asyncio.runner; python_version < '3.11'
chunkmuncher; python_version >= '3.13'
